/*Background color for web page*/
body {
    background: #42749E;
}

/*Centers wrapper*/
.wrapper {
    display: flex;
    justify-content: center;
}

/*Centers header*/
.header {
    display: flex;
    justify-content: center;
}

/*Sets font for heading h1*/
.header > h1 {
    color: white;
    text-shadow: black 0px 0 5px;
    font-family: 'Poppins', sans-serif;
}

/*Centers form*/
.flex-outer > form {
    display: flex;
    justify-content: center;
}

/*Makes text input bar wider and sets font for it*/
.inputText {
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

/*Removes padding, removes bullet points, and sets font for unordered list items under flex-outer*/
.flex-outer ul {
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

/*Sets gradient background, padding, margin, and border-radius for each restaurant item*/
.target > li {
    background: linear-gradient(#E09E38, #EBC36C);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/*Increases font size, bolds, and removes margin from restaurant names*/
.target > li > ul > h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

/*Italicizes restaurant category and location information*/
.target > li > ul > li {
    font-style: italic;
}